<%@ page language="java" contentType="text/html; charset=ISO-8859-1"
	pageEncoding="ISO-8859-1"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>first spring MVC applicationDemo</h1>

	<h2>${msg}</h2>
	<br>
	<h1>hellodear</h1>
	<form action="/submission">
		<label>UserName</label> <br> <input type="text" name="studentName"> <br>
		<label>Password</label> <br> <input type="text" name="studentHobby"> <br>
		<input type="submit" value="Submit">
	</form>


</body>
</html>